body {
    	/*background-image: url('../images/game_background.jpg');*/
    	background-size: auto;
    	background-repeat: no-repeat;
    	background-color: #202020;
    	font-family: "Roboto", helvetica, arial, sans-serif;
    	font-size: 0.8333333333333334vw;
    	font-weight: 400;
    	text-rendering: optimizeLegibility;
   	margin-bottom: 5%;
    	margin-left: 5%;
    	margin-right:5%;
}

h1 {	
    	color: white;
    	text-align: left;
    	font-size: 1.6666666666666667vw;
}

h2 {
     	color: white;
     	text-align: right;
     	font-size: 1.25vw;
 }

h3{
	color: white;
	text-align: center;
	font-size: 1.25vw;
}

td,tr {
	color: white;
	text-align: center;
	border-color: white;
}

button {
     	width: 400px;
     	height: 102px;
     	padding: 0.8em 1.8em;
     	border: 2px solid #000000;
     	position: relative;
     	overflow: hidden;
     	background-color: #FFFFFF;
     	text-align: center;
     	font-size: 0.8333333333333334vw;
     	transition: .3s;
     	z-index: 2;
     	font-family: inherit;
     	color: #000000;
	border-radius: 50%; 
}


button::before {
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	background: #787878;
	transition: .5s ease;
	display: block;
	z-index: -1;
}

button:hover::before {
     	width: 105%;
}

button:hover {
     	color: #FFFFFF;
}
#button_logout{
	width: 200px;
     	height: 50px;
     	padding: 0.8em 1.8em;
     	border: 2px solid #249B3C;
     	position: relative;
     	overflow: hidden;
     	background-color: #202020;
     	text-align: center;
     	font-size: 0.8333333333333334vw;
     	transition: .3s;
     	z-index: 2;
     	font-family: inherit;
     	color: #249B3C;
	border-radius: 0px;
}

#button_logout::before{
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	background: #249B3C;
	transition: .5s ease;
	display: block;
	z-index: -1;
}

#button_logout::hover::before{
	width: 105%;
}

#button_logout:hover{
	color: #FFFFFF;
}

#button_menu{
	width: 200px;
     	height: 50px;
     	padding: 0.8em 1.8em;
     	border: 2px solid #249B3C;
     	position: relative;
     	overflow: hidden;
     	background-color: #202020;
     	text-align: center;
     	font-size: 0.8333333333333334vw;
     	transition: .3s;
     	z-index: 2;
     	font-family: inherit;
     	color: #249B3C;
	border-radius: 0px;
}

#button_menu::before{
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	background: #249B3C;
	transition: .5s ease;
	display: block;
	z-index: -1;
}

#button_menu::hover::before{
	width: 105%;
}

#button_menu:hover{
	color: #FFFFFF;
}

#div_hinweis {
	position:absolute;
	left: 0px;
	bottom: 20px;
     	font-size: 0.8333333333333334vw;
}
#div_menu {
	position:absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}
#div_logout {
	position:absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}

#div_h1{
	width: 800px;
	margin: 0 auto;
}

#div_h2{
	width: 800px;
	margin: 0 auto;
}
#div_gamescreen{
	background-image: url('../images/game_background.gif');
	z-index: 1;
	background-color: #FFFFFF;
	margin: auto;
	width: 1200px;
	height: 675px;	
}

#div_gamescreen_left{
	float: left;
	z-index: 2;
	background-color: transparent;
	margin: auto;
	width: 400px;
	height: 675px;	
}

#div_gamescreen_center{
	float: left;
	z-index: 2;
	background-color: transparent;
	margin: auto;
	width: 400px;
	height: 675px;	
}
#div_gamescreen_right{
	float: left;
	z-index: 2;
	background-color: transparent;
	margin: auto;
	width: 400px;
	height: 675px;	
}

#div_bild1{
	width: 200px;
	top: 0px;
	left: 0px;
}

#div_bild2{
	margin-top: 50px;
}

#bild1{
	margin-top: 0px;
	margin-left: 0px;
	width:100%;
}

#bild2{
	margin-bottom: 0px;
	width:100%;
}

#div_antwort1{
	margin-top: 100px;
	margin-left: 50px;
}

#div_antwort2{
	margin-top: 50px;
	margin-left: 100px;
}

#div_antwort3{
	margin-top: 375px;
	margin-left: 0px;
}

#div_antwort4{
	margin-top: 250px;
	margin-left: 50px;
}

#button_antwort1{
	width: 300px;
}

#button_antwort2{
	width: 300px;
}

#button_antwort3{
	width: 300px;
}

#button_antwort4{
	width: 300px;
}

#hinweis {
	font-size: 0.8333333333333334vw;
	font-family: inherit;
	color: #249B3C;
}

#div_copyright {
	text-align: right;
	position:absolute;
	right: 0px;
	bottom: 20px;
}

#copyrigth {
	text-align: right;
	font-size: 0.8333333333333334vw;
	font-family: inherit;
	color: #249B3C;
}

@media only screen and (max-width: 620px) {
     	/* For mobile phones: */
     	body {
       		width: 100%;
     	}
}
