body{
	background-color: #000000;
}
#div_login{
	top: 100px;;
	position: relative;
	margin: 0 auto;
	width: 	600px;
	height: 800px;
	background-color: #FFFFFF;
	border: 2px solid black;
	border-radius: 10%;
}
h1{
	text-align: center;
	font-size: 20;
	font-family: "Roboto";
}
#username{
	height: 25px;
	position: relative;
	display: block;
	margin : 0 auto;
	border-radius: 5%;
}
#password{
	height: 25px;
	position: relative;
	display: block;
	margin : 0 auto;
	border-radius: 5%;
}
#div_login_button{
	width: 150px;
	margin: 0 auto;
}
#login{
	font-size: 15pt;
	width: 150px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 5%;
}

#login:hover {
  background-color: black;
  color: #0f0;
}
#div_login_img{
	position: relative;
	top: 50px;
	width: 80px;
	height: 96px;
	margin: 0 auto;
}
#img_lock{
	width: 100%;
}
#login_result{
	margin-top: 10px;
	text-align: center;
	font-size: 0.8333333333333334vw;
	font-family: "Roboto";
	color: red;
}
#div_login_result{
	margin-top: 30px;
	text-align: center;
	width: 100%;
	height: 30px;
}

#div_hinweis {
	position:absolute;
	left: 0px;
	bottom: 20px;
     	font-size: 0.8333333333333334vw;
}

#hinweis {
	font-size: 0.8333333333333334vw;
	font-family: inherit;
	color: #249B3C;
}


#div_copyright {
	text-align: right;
	position:absolute;
	right: 0px;
	bottom: 20px;
}

#copyrigth {
	text-align: right;
	font-size: 0.8333333333333334vw;
	font-family: inherit;
	color: #249B3C;
}