body {
    background-image: url('ransomware.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:5%;
}
h1, h2, h3 {
    color: white;
    text-align: left;
}
button {
     width: 400px;
     padding: 0.8em 1.8em;
     border: 2px solid #249B3C;
     position: relative;
     overflow: hidden;
     background-color: transparent;
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
     transition: .3s;
     z-index: 1;
     font-family: inherit;
     color: #249B3C;
}

button::before {
     content: '';
     width: 0;
     height: 300%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) rotate(0deg);
     background: #249B3C;
     transition: .5s ease;
     display: block;
     z-index: -1;
}

button:hover::before {
     width: 105%;
}

button:hover {
     color: #FFFFFF;
}
#div_szenario {
	margin-left: 0%;
	margin-right: auto;
	width: 150px;
}
#div_hinweis {
	position:absolute;
	margin-left: auto;
	margin-right: 0px;
	top: 0px;
	width: 400px;
}
#div_h1{
	width: 500px;
}
#div_h2{
	width: 500px;
}
#hinweis {
     font-size: 16px;
     font-family: inherit;
     color: #249B3C;
}
#div_copyright {
	position:absolute;
	margin-left: auto;
	margin-right: 0px;
	bottom: 20px;
	width: 400px;
}
#copyrigth {
     font-size: 16px;
     font-family: inherit;
     color: #249B3C;
}
