body {
    	/*background-image: url('../images/background.jpg');*/
    	background-size: auto;
    	background-repeat: no-repeat;
    	background-color: #202020;
    	font-family: "Roboto", helvetica, arial, sans-serif;
    	font-size: 0.8333333333333334vw;
    	font-weight: 400;
    	text-rendering: optimizeLegibility;
   	margin-bottom: 5%;
    	margin-left: 5%;
    	margin-right:5%;
}

h1 {
    	color: white;
    	text-align: center;
    	font-size: 1.6666666666666667vw;
}

h2 {
     	color: white;
     	text-align: center;
     	font-size: 1.25vw;
 }

button {
     	width: 400px;
     	height: 102px;
     	padding: 0.8em 1.8em;
     	border: 2px solid #249B3C;
     	position: relative;
     	overflow: hidden;
     	background-color: #000000;
     	text-align: center;
     	text-transform: uppercase;
     	font-size: 0.8333333333333334vw;
     	transition: .3s;
     	z-index: 1;
     	font-family: inherit;
     	color: #249B3C;
	border-radius: 50%; 
}

button::before {
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	background: #249B3C;
	transition: .5s ease;
	display: block;
	z-index: -1;
}

button:hover::before {
     	width: 105%;
}

button:hover {
     	color: #FFFFFF;
}

#div_hinweis {
	position:absolute;
	left: 0px;
	bottom: 20px;
	width: 400px;
     	font-size: 0.8333333333333334vw;
}

#div_h1{
	margin: auto;
}

#div_h2{
	margin: auto;
}
#div_gamescreen{
	margin: auto;
	width: 1000px;
	heigth: 500px;
	
}
#hinweis {
	font-size: 16px;
	font-family: inherit;
	color: #249B3C;
}

#div_copyright {
	text-align: right;
	position:absolute;
	right: 0px;
	bottom: 20px;
	width: 400px;
}

#copyrigth {
	text-align: right;
	font-size: 0.8333333333333334vw;
	font-family: inherit;
	color: #249B3C;
}

#counter{
	background-color: #000000;
	text-align: center;
     	font-size: 20pt;
     	font-family: inherit;
     	color: #FFFFFF;
}

@media only screen and (max-width: 620px) {
     	/* For mobile phones: */
     	body {
       		width: 100%;
     	}
}
